

/*------------Elementos comunes------------*/

h1 {
    color: white;
    text-decoration: none;
    font-size: calc(2vmax + 1vmin);
    font-family: "Roboto Thin", sans-serif;
    text-align: center;

}

h2 {

    font-size: calc(1.5vmax + 1vmin);
    padding-left: 3vw;
    font-family: "Roboto Thin", sans-serif;
    color: white;
}

h3 {

    font-size: calc(1vmax + 1vmin);
    padding-left: 3vw;
    font-family: "Roboto Thin", sans-serif;
    color: #ffffff;
}
h4 {

    font-size: calc(0.5vmax + 1vmin);
    padding-left: 3vw;
    font-family: "Roboto Thin", sans-serif;
    color: #ffffff;
}
p{
    font-size: calc(0.5vmax + 1vmin);
    padding-left: 3vw;
    font-family: "Roboto Thin", sans-serif;
    color: #ffffff;
}

figure{
    padding: 0;
    margin: 0;
}

/*Botones*/
/*Botón grande*/
button.botonGordo{
    height: 30px;
    width: fit-content;
    font-size: 15px;
    background-color: #5AA0D3;
    border-radius: 5px;
    border-style: none;
    color: white;
    font-family: "Roboto Thin", sans-serif;
}
button.botonGordo:hover{
    background-color: #4a83ad;
}

button.botonGordo:active {
    background-color: #3f7091;
}

/*Botón subrayado*/
button.botonSub{
    font-size: 15px;
    width: fit-content;
    text-decoration: underline;
    border: none;
    background: none;
    color: #5AA0D3;
}
button.botonSub:hover{
    color: #4a83ad;
}
button.botonSub:active{
    color: #3f7091;
}


/*Barra de input*/
input.standar{
    border-radius: 7px;
    border-style: none;
    font-family: "Roboto Thin", sans-serif;
    height: 25px;
    background: #E9E9E9;
}
select{
    border-radius: 7px;

    font-family: "Roboto Thin", sans-serif;
    height: 25px;
    background: #E9E9E9;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
textarea{
    border-radius: 7px;
    border-style: none;
    font-family: "Roboto Thin", sans-serif;
    background: #E9E9E9;
    resize: none;
}


input.standar2{
    border-radius: 7px;
    border-style: none;
    font-family: "Roboto Thin", sans-serif;
    height: 25px;
    background: #E9E9E9;
}
label{
    font-family: "Roboto Thin", sans-serif;
}

/*------------Contenido de la página------------*/
main.contendio {
    transition: padding 0.3s;
    padding-top: calc(2vmax + 2vmin + 13%);

}

/*------------Menú y cabecera------------*/
div.fijo {
    position: fixed;
    z-index: 102;
    width: 100%;
    top: 0;
}

/*Imagen*/
header.cabecera {
    position: relative;
    text-align: center;
    background-color: #2D3142;

    max-height: 65%;
    height: 60%;
    margin: 0;

}
/*Logo*/
img.logo {
    /*Tamaño*/
    width: 10%;

    /*Posicion*/
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
    float: left;

}
img.cabecera {
    max-width: 60%;
    max-height: 60%;
    width: 60%;
}

/*Botones de Log/sign*/
ul.sign_log {

    display: inline-block;
    width: 15%;

    /*Posicion*/
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;

}
ul.sign_log > li {

    /*Posicion*/
    display: inline-block;
    padding-left: 30px;

    /*Centrar log*/
    position: relative;
    top: 45%;
    transform: translateY(-55%);

}
ul.sign_log > li > a {
    color: white;
    text-decoration: none;

    font-size:  calc(10px + 0.3vw);
    font-family: "Roboto Thin", sans-serif;
}
ul.sign_log > li > a:hover {
    color: #FACC02;
}

ul.sign_log > li > a:active {
    color: #a48504;
}



